services:
  banco_de_dados:
    image: postgres:15
    container_name: banco_de_dados
    environment:
      POSTGRES_USER: jogador
      POSTGRES_PASSWORD: sbd1_password
      POSTGRES_DB: jogo
    ports:
      - "6000:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      # Executa os scripts de inicialização automaticamente
      - ./sql:/docker-entrypoint-initdb.d

volumes:
  postgres_data:
